* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
}

.container {
    text-align: center;
    background-color: #ff0066;
    height: 400px;
    width: 500px;
    margin: 150px auto;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

.titulo {
    padding-top: 60px;
}

#input{
    padding: 9px;
    border-radius: 5px;  
    
}

#btn {   
    margin: 110px auto 0 auto;    
    background-color: #404040;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}

#load {
    padding-top: 15px;
    margin: 0 auto;
    color: #fff;
   
    
}

.infos {
    position: absolute;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
   

}



